---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

	<ul class="TagList">
  {% for tags in page.tags %}
    <li class="TagList__item">{{ tags }}</li>
  {% endfor %}
</ul>
	
{% include read_time.html %}
	
	
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
  

</article>
{% if site.addthisId != "" %}

	<!-- Addthis -->
	<div class="addthis_sharing_toolbox mt"></div>
	<script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-{{ site.addthisId }}"></script>

{% endif %}

<!-- If disqusUsername declared -->
{% if site.disqusUsername != "" %}

	<!-- Full width -->
	<div class="full">

		<!-- Disqus -->
		<div id="disqus_thread" class="mt mb"></div>
		<script async src="//{{ site.disqusUsername }}.disqus.com/embed.js"></script>

	</div><!-- .full -->

{% endif %}
